.our-departments {
  padding: 100px 0;
  background-size: cover;
  &__wrap {
    width: 100%;
    padding: 70px 0px;
  }
  &__title {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }
  &__cards {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
  }
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

