<div class="wrap"
      style="background: url('assets/img/hero.jpg') no-repeat center;
      position: relative;
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
">
  <div class="container">
    <section class="section-index">
        <h1 class="section-index__caption caption">
          Лучшее
          <br>
          медицинское
          <br>
          обслуживание
        </h1>
        <div class="section-index__subtitle subtitle">
          <p class="section-index__text">
            «СкайЛаб» – крупнейший негосударственный
            <br>
            многопрофильный медицинский центр Беларуси.
          </p>
        </div>
    </section>
  </div>
</div>
