<div class="departments-card">
  <div class="departments-card__cont">
    <header class="departments-card__header">
      <img class="departments-card__img" src="assets/img/icon-department.png" alt="">

      <h3 class="departments-card__title">{{ department.title }}</h3>
    </header>

    <div class="entry-content">
      <p class="text">{{ department.description }}</p>
    </div>

    <footer class="entry-footer">
      <a class="departments-card__link">read more</a>
    </footer>
  </div>
</div>
