<section class="add-update"
         style="
            background: url('assets/img/bg-myProfile.jpeg') no-repeat;
            padding-top: 90px;
            width: 100%;
            background-size: cover;"
>
  <div class="container">
    <h1 class="add-update__title">Укажите данные</h1>
    <form class="form-admin">
      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Название</mat-label>
        <input
            [(ngModel)]="speciality.title"
            matInput
            name="title"
            required
        >
      </mat-form-field>

        <input
          [(ngModel)]="speciality.id"
          type="hidden"
          name="id"
          required
        >

      <button
        *ngIf="flag"
        mat-button
        class="btn-form"
        (click)="updateSpeciality()"
      >
        Обновить специальность
      </button>
      <button
        *ngIf="!flag"
        mat-button
        class="btn-form"
        (click)="addSpeciality()"
      >
        Добавить специальность
      </button>
    </form>
  </div>
</section>


