<section class="my-profile"
         style="
            background: url('assets/img/bg-myProfile.jpeg') no-repeat;
            padding-top: 90px;
            width: 100%;
            background-size: cover;"
>
  <div class="container">
    <h1 class="my-profile__title">Data</h1>
    <form class="example-form">
      <mat-form-field class="input-box" appearance="fill">
        <mat-label>Speciality</mat-label>
        <input
            matInput
            name="title"
            [(ngModel)]="speciality.title"
            required
        >
      </mat-form-field>
        <input
          type="hidden"
          name="id"
          [(ngModel)]="speciality.id"
          required
        >

      <button
        *ngIf="flag"
        mat-button
        color="primary"
        class="btn-form"
        (click)="updateSpeciality()"
      >
        Update speciality
      </button>
      <button
        *ngIf="!flag"
        mat-button
        color="primary"
        class="btn-form"
        (click)="addSpeciality()"
      >
        Add speciality
      </button>
    </form>
  </div>
</section>


