.mat-table {
  margin: 0 auto;
}
.table-title {
  text-align: center;
}

.mat-cell {
  width: 200px;
}

.wrap {
  padding-top: 250px;
  padding-bottom: 50px;
}
.form-link {
  position: relative;
  left: 94%;
  transform: translate(-50%, 0);
}
