<header class="header">
  <div class="container">
    <div class="wrap">
      <div class="header__logo">
        <a class="header__link" routerLink="">
          <img class="header__img" src="assets/img/logo.png" alt="logo">
        </a>
      </div>

      <nav class="navigation">
        <ul class="nav" *ngIf="!authenticated">
          <li class="nav__item">
            <a class="nav__link" routerLink="/about-us">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/service">Service</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="openDialog()">Login In</button>
          </li>
        </ul>


        <ul class="nav" *ngIf="authenticated && role == 'ADMIN'">
          <button class="nav__link" mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/admin/doctors">Doctors</button>
            <button mat-menu-item routerLink="/admin/users">Users</button>
            <button mat-menu-item routerLink="/admin/departments">Departments</button>
            <button mat-menu-item routerLink="/admin/speciality">Speciality</button>
          </mat-menu>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="logout()">Logout</button>
          </li>
        </ul>

        <ul class="nav" *ngIf="authenticated && role == 'DOCTOR'">
          <button class="nav__link" mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/doctor/listOfEntries',]">Entries</button>
          </mat-menu>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="logout()">Logout</button>
          </li>
        </ul>


        <ul class="nav" *ngIf="authenticated && role == 'USER'">
          <li class="nav__item">
            <a class="nav__link" routerLink="/about-us">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/service">Service</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" [routerLink]="['/profile',]">My Profile</a>
          </li>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="logout()">Logout</button>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>

