<header class="header">
  <div class="container">
    <div class="wrap">
      <div class="header__logo">
        <a class="header__link" routerLink="">
          <img class="header__img" src="assets/img/logo.png" alt="logo">
        </a>
      </div>

      <nav class="navigation">
        <ul class="nav" *ngIf="!authenticated">
          <li class="nav__item">
            <a class="nav__link" routerLink="/about-us">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/service">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/contact">Контакты</a>
          </li>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="openDialog()">Войти</button>
          </li>
        </ul>


        <ul class="nav" *ngIf="authenticated && role == 'ADMIN'">
          <button class="nav__link" mat-button [matMenuTriggerFor]="menu">Меню</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/admin/list-of-doctors">Доктора</button>
            <button mat-menu-item routerLink="/admin/list-of-users">Пользователи</button>
            <button mat-menu-item routerLink="/admin/list-of-departments">Отделы</button>
            <button mat-menu-item routerLink="/admin/list-of-speciality">Специальности</button>
          </mat-menu>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="logout()">Выйти</button>
          </li>
        </ul>

        <ul class="nav" *ngIf="authenticated && role == 'DOCTOR'">
          <button class="nav__link" mat-button [matMenuTriggerFor]="menu">Меню</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/doctor', id]">Записи</button>
          </mat-menu>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="logout()">Выйти</button>
          </li>
        </ul>


        <ul class="nav" *ngIf="authenticated && role == 'USER'">
          <li class="nav__item">
            <a class="nav__link" routerLink="/about-us">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/service">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/contact">Контакты</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" [routerLink]="['/profile', id]">Профиль</a>
          </li>
          <li class="nav__item">
            <button class="nav__link" mat-button (click)="logout()">Выйти</button>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>

