<section class="the-news">
  <div class="container">
    <h2 class="the-news__title">
      Новости
    </h2>
    <div class="the-news__list">

      <div class="the-news__wrap news">
        <figure class="post-thumbnail">
          <a class="news__link" href="#"><img class="news__img" src="assets/img/news-1.png" alt=""></a>
        </figure>

        <header class="news__header header">
          <h3 class="header__title">Новейшее в медицине</h3>

          <div class="post-metas">
            <div class="posted-date"><label class="post-metas__label">Дата: </label><a class="post-metas__link" href="#">Апрель 12, 2022</a></div>

            <div class="posted-by"><label class="post-metas__label">автор: </label><a class="post-metas__link" href="#">Павел Кошубович</a></div>

            <div class="post-comments"><a class="post-metas__link" href="#">9 Комментариев</a></div>
          </div>
        </header>

        <div class="entry-content">
          <p class="entry-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
        </div>
      </div>


      <div class="the-news__wrap news">
        <figure class="post-thumbnail">
          <a class="news__link" href="#"><img class="news__img" src="assets/img/news-2.png" alt=""></a>
        </figure>

        <header class="news__header header">
          <h3 class="header__title">Все о таблетках</h3>

          <div class="post-metas">
            <div class="posted-date"><label class="post-metas__label">Дата: </label><a class="post-metas__link" href="#">Март 22, 2022</a></div>

            <div class="posted-by"><label class="post-metas__label">автор: </label><a class="post-metas__link" href="#">Виталий Маянов</a></div>

            <div class="post-comments"><a class="post-metas__link" href="#">2 Комментариев</a></div>
          </div>
        </header>

        <div class="entry-content">
          <p class="entry-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
        </div>
      </div>



      <div class="the-news__wrap news">
        <figure class="post-thumbnail">
          <a class="news__link" href="#"><img class="news__img" src="assets/img/news-3.png" alt=""></a>
        </figure>

        <header class="news__header header">
          <h3 class="header__title">Маркетинг и медицина</h3>

          <div class="post-metas">
            <div class="posted-date"><label class="post-metas__label">Дата: </label><a class="post-metas__link" href="#">Февраль 27, 2022</a></div>

            <div class="posted-by"><label class="post-metas__label">автор: </label><a class="post-metas__link" href="#">Алексей Ляч</a></div>

            <div class="post-comments"><a class="post-metas__link" href="#">5 Комментариев</a></div>
          </div>
        </header>

        <div class="entry-content">
          <p class="entry-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
        </div>
      </div>
    </div>
  </div>
</section>
