<section class="the-news">
  <div class="container">
    <h2 class="the-news__title">
      The News
    </h2>
    <div class="the-news__list">

      <div class="the-news__wrap news">
        <figure class="post-thumbnail">
          <a class="news__link" href="#"><img class="news__img" src="assets/img/news-1.png" alt=""></a>
        </figure>

        <header class="news__header header">
          <h3 class="header__title">The latest in Medicine</h3>

          <div class="post-metas">
            <div class="posted-date"><label class="post-metas__label">Date: </label><a class="post-metas__link" href="#">April 12, 2022</a></div>

            <div class="posted-by"><label class="post-metas__label">By: </label><a class="post-metas__link" href="#">Dr. Pavel Kashubovich</a></div>

            <div class="post-comments"><a class="post-metas__link" href="#">9 Comments</a></div>
          </div>
        </header>

        <div class="entry-content">
          <p class="entry-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
        </div>
      </div>


      <div class="the-news__wrap news">
        <figure class="post-thumbnail">
          <a class="news__link" href="#"><img class="news__img" src="assets/img/news-2.png" alt=""></a>
        </figure>

        <header class="news__header header">
          <h3 class="header__title">All you need to know about pills</h3>

          <div class="post-metas">
            <div class="posted-date"><label class="post-metas__label">Date: </label><a class="post-metas__link" href="#">March 22, 2022</a></div>

            <div class="posted-by"><label class="post-metas__label">By: </label><a class="post-metas__link" href="#">Dr. Jake Williams</a></div>

            <div class="post-comments"><a class="post-metas__link" href="#">2 Comments</a></div>
          </div>
        </header>

        <div class="entry-content">
          <p class="entry-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
        </div>
      </div>



      <div class="the-news__wrap news">
        <figure class="post-thumbnail">
          <a class="news__link" href="#"><img class="news__img" src="assets/img/news-3.png" alt=""></a>
        </figure>

        <header class="news__header header">
          <h3 class="header__title">Marketing and Medicine</h3>

          <div class="post-metas">
            <div class="posted-date"><label class="post-metas__label">Date: </label><a class="post-metas__link" href="#">February 27, 2022</a></div>

            <div class="posted-by"><label class="post-metas__label">By: </label><a class="post-metas__link" href="#">Dr. Alex Li</a></div>

            <div class="post-comments"><a class="post-metas__link" href="#">5 Comments</a></div>
          </div>
        </header>

        <div class="entry-content">
          <p class="entry-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. </p>
        </div>
      </div>

    </div>
  </div>
</section>
