<div class="wrap">
  <div class="container">
    <div class="service-box">
      <div class="service-box__cont">
        <h2 class="service-box__title">Only Top Quality Services</h2>

        <div class="content">
          <div class="box-text">
            <p class="service-box__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec malesuada lorem ma ximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
              Suspendisse cursus faucibus finibus. Curabitur ut augue finibus, luctus tortor at, ornare erat.
              Nulla facilisi. Sed est risus, laoreet et quam non, malesuada viverra accumsan leo.
            </p>
          </div>

          <div class="box-text">
            <p class="service-box__text">
              Amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque,
              at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.
              Curabitur ut augue finibus, luctus tortor at, ornare erat. Nulla facilisi. Sed est risus,
              laoreet et quam non, viverra accumsan leo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

