<div class="wrap">
  <div class="container">
    <div class="service-box">
      <div class="service-box__cont">
        <h2 class="service-box__title">Только качественные услуги</h2>

        <div class="content">
          <div class="box-text">
            <p class="service-box__text">
              Филиал ООО «СкайЛаб» в Гродно функционирует с 2005 года. Центр зарекомендовал себя в сфере оказания качественных медицинских услуг (профилактика, диагностика, лечение, реабилитация).
              Сотрудники филиала – высококвалифицированные специалисты, первой и высшей категорий, с многолетним стажем и  опытом работы, которые участвуют в семинарах, конференциях международного уровня и постоянно повышают свой образовательный  уровень.

            </p>
          </div>

          <div class="box-text">
            <p class="service-box__text">
              Среди команды есть кандидаты медицинских наук, профессора, доценты, научные сотрудники.
              Уверенный и стабильный труд позволил добиться успешных результатов, положительных рекомендаций от постоянных клиентов и партнёров.
              Наши приоритетные задачи - оказывать качественные услуги и сервис, используя современные технологии и методики, в оптимальном соотношении «цена-качество» и  стремиться соответствовать уровню мировых стандартов.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

