<section class="add-update"
         style="
            background: url('assets/img/bg-myProfile.jpeg') no-repeat;
            padding-top: 90px;
            width: 100%;
            background-size: cover;"
>
  <div class="container">
    <h1 class="add-update__title">Enter data</h1>
    <form

      novalidate
      class="form-admin"
    >
      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          required
        >
      </mat-form-field>
      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Surname</mat-label>
        <input
          matInput
          formControlName="surname"
          required
        >
      </mat-form-field>

      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          required
        >
      </mat-form-field>

      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          required
        >
      </mat-form-field>

      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Sex</mat-label>
        <mat-select
          formControlName="sex"
          required
        >
          <mat-option value="men">Men</mat-option>
          <mat-option value="women">Women</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Age</mat-label>
        <input
          matInput
          formControlName="age"
          required
        >
      </mat-form-field>

      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          formControlName="address"
          required
        ></textarea>
      </mat-form-field>

      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Phone</mat-label>
        <input
          matInput
          formControlName="phone"
          required
        >
      </mat-form-field>
      <input
        type="hidden"
        name="fileName"
        formControlName="fileName"
        required
      >

      <button
        mat-button
        color="primary"
        type="submit"
        class="btn-form"

      >
        Submit
      </button>
    </form>
  </div>
</section>
