<section class="add-update"
         style="
            background: url('assets/img/bg-myProfile.jpeg') no-repeat;
            padding-top: 90px;
            width: 100%;
            background-size: cover;"
>
  <div class="container">
    <h1 class="add-update__title">Data</h1>
    <form class="form-admin">
      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          [(ngModel)]="department.title"
            matInput
            name="title"
            required
        >
      </mat-form-field>

      <mat-form-field class="admin-input" appearance="fill">
        <mat-label>Description</mat-label>
        <input
          [(ngModel)]="department.description"
          matInput
          name="description"
          required
        >
      </mat-form-field>
        <input
          [(ngModel)]="department.id"
          type="hidden"
          name="id"
          required
        >

      <button
        *ngIf="flag"
        mat-button
        color="primary"
        class="btn-form"
        (click)="updateDepartment()"
      >
        Update department
      </button>
      <button
        *ngIf="!flag"
        mat-button
        class="btn-form"
        (click)="addDepartment()"
      >
        Add department
      </button>
    </form>
  </div>
</section>


