<mat-card class="card">
  <button mat-button color="warn" class="btn-close" (click)="remove(user.id)">remove</button>
  <input type="hidden" [(ngModel)]="user.id">
  <mat-card-title>{{user.name + ' ' + user.surname}}</mat-card-title>
  <mat-card-subtitle>Пол: {{user.sex}}</mat-card-subtitle>
  <mat-card-content>
    <p class="date-bold">{{user.date | date:'d MMM, y, h:mm'}}</p>
    <p>{{user.address}}</p>
    <p>phone: {{user.phone}}</p>
    <p>Email: {{user.email}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a href="mailto:{{user.email}}" mat-button>Написать</a>
    <a href="tel:{{user.phone}}" mat-button>Позвонить</a>
  </mat-card-actions>
</mat-card>
