<form
  class="my-form"
  [formGroup]="appointment"
  (submit)="submit()"
  novalidate
>

    <mat-form-field appearance="fill">
      <mat-label>Выберите дату</mat-label>

      <input
        formControlName="date"
        matInput
        [matDatepicker]="picker"
        required
      >

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">

      <input
        matInput
        formControlName="time"
        type="time"
        required
      >

    </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>

    <input
      matInput
      formControlName="name"
      required
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Укажите почту</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="pat@example.com"
      required
    >
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Выберите отдел</mat-label>

    <mat-select
      formControlName="nameDepartment"
      (selectionChange)="onChange($event)"

      name="nameDepartment"
      required
    >
      <mat-option>None</mat-option>
      <mat-option
        *ngFor="let nameDepartment of nameDepartments"
        [value]="nameDepartment.value"
      >
        {{nameDepartment.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Выберите доктора</mat-label>
    <mat-select
      formControlName="nameDoctor"
      required
    >
      <mat-option>Не выбрано</mat-option>
      <mat-option
        *ngFor="let doctor of doctors" [value]="doctor"
      >
        {{ doctor.name + ' ' + doctor.surname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    class="btn"
    type="submit"
    color="primary"
    [disabled]="appointment.invalid"
  >
    Записаться на прием
  </button>
</form>
