.footer {

}
.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap-item {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.title {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #404040;
}
.copyright {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 500;
}

.footer-items {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 5px;
    font-weight: 400;
    box-sizing: border-box;
  }
  li a {
    color: #828282;
    text-decoration: none;
    column-count: 2;
    column-gap: 10px;
    box-sizing: border-box;
  }
}
.foot-links {
  &__list{
    column-count: 2;
    column-gap: 10px;
  }
}

.hide {
  display: none;
}

