<footer class="footer"
        style="
          background: url('assets/img/footer-bg.png') no-repeat center;
          position: relative;
          padding: 65px 0;
          background-size: cover;
          font-size: 14px;
          color: #828282;
">
  <div class="container">
    <div class="wrap">
      <div class="wrap-item">
        <div class="foot-about">
          <h2 class="foot-about__title title"><a href="#"><img src="assets/img/logo.png" alt=""></a></h2>
          <p class="foot-about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
          <p class="copyright">Pashimati Lorem ipsum dolor sit amet.</p>
        </div>
      </div>

      <div class="wrap-items">
          <div class="foot-contact">
            <h2 class="foot-contact__title title">Contact</h2>
            <ul class="foot-contact__list footer-items">
              <li><span>Addtress:</span>Grodno Str. 17 South</li>
              <li><span>Phone:</span>   +375 29 547 713 7</li>
              <li><span>Email:</span>    Pashimatii@gmail.com</li>
            </ul>
          </div>
      </div>

      <div class="wrap-item">
        <div class="foot-links">
          <h2 class="foot-links__title title">Usefull Links</h2>
          <ul class="foot-links__list footer-items">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about-us">About us</a></li>
            <li><a routerLink="/service">Service</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Testimonials</a></li>
          </ul>
        </div>
      </div>
  </div>
  </div>
</footer>
