<section class="our-team">
    <div class="wrap" style="background: url('assets/img/faq-bg.jpg') no-repeat center;">
      <div class="container">
        <div class="inform">
          <div class="inform__cont">
            <h2 class="inform__title">SkyLab History</h2>

            <p class="inform__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.
              Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus,
              luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et quam non,
              viverra accumsan leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.
              Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus,
              luctus tortor at, ornare erat.
            </p>

          </div>

          <div class="inform__img">
            <img class="responsive" src="assets/img/about.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <h2 class="team-title title">
      Our Team
    </h2>
    <div class="doctor-cards">
      <app-doctor-card
        *ngFor="let doctor of doctors"
        [doctor]="doctor"
      ></app-doctor-card>
    </div>
  </div>
</section>
