<section class="our-team">
    <div class="wrap" style="background: url('assets/img/faq-bg.jpg') no-repeat center;">
      <div class="container">
        <div class="inform">
          <div class="inform__cont">
            <h2 class="inform__title">История создания СкайЛаб</h2>

            <p class="inform__text">
              «СкайЛаб» – крупнейший негосударственный многопрофильный медицинский центр Беларуси.
              С момента основания в 1992 году «СкайЛаб» успешно сохраняет свои лидирующие позиции на рынке медуслуг страны благодаря внедрению в практику самых передовых методов диагностики и лечения,
              внимательному, индивидуальному подходу к каждому пациенту и высокому уровню сервиса.

              Квалифицированный медицинский персонал предоставляет помощь по 60 направлениям,
              в том числе работают отделение стоматологии, КТ и МРТ, офтальмологический хирургический центр,
              отделение репродуктивного здоровья (ЭКО), функционирует клинико-диагностическая лаборатория, в которой выполняется свыше 300 видов анализа.
              Качество оказываемых услуг находится под постоянным контролем руководства компании.
            </p>

          </div>

          <div class="inform__img">
            <img class="responsive" src="assets/img/about.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <h2 class="team-title title">
      Наша команда
    </h2>
    <div class="doctor-cards">
      <app-doctor-card
        *ngFor="let doctor of doctors"
        [doctor]="doctor"
      ></app-doctor-card>
    </div>
  </div>
</section>
