.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.team-title {
  padding-top: 40px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  color: #404040;
  padding-bottom: 15px;
}
.doctor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.inform {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  &__cont {
    flex: 0 0 40%;
    max-width: 40%;
  }
  &__title {
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
  }
  &__text {
    font-size: 14px;
    color: #ffffff;
  }
  &__img {
    margin-top: 0!important;
    flex: 0 0 40%;
    max-width: 40%;
  }
}

.responsive {
  max-width: 100%;
  vertical-align: baseline;
  border-radius: 20px;
}
.wrap {
  padding: 80px 0;
  background-size: 100%;
}
