<div class="container">
  <app-back-btn>Вернуться на главную</app-back-btn>
  <div class="wrap">
    <div class="login100-pic js-tilt" data-tilt>
      <img src="assets/img/login.png" alt="IMG">
    </div>

    <form
      class="form"
      [formGroup]="register"
      (submit)="submit()"
      novalidate
    >
      <h3 class="form-title">Пожалуйста зарегистрируйтесь</h3>



      <mat-form-field appearance="fill">
        <mat-label>Введите почту</mat-label>
        <input
          matInput
          class="form-control"
          placeholder="pat@example.com"
          formControlName="email"
          type="email"
          placeholder="Email"
          required
        >

      </mat-form-field>


      <mat-form-field appearance="fill">
        <input
          matInput
          class="form-control"
          placeholder="Введите пароль"
          formControlName="password"
          type="password"
          required
        >

      </mat-form-field>
      <app-btn type="submit">Зарегистрироваться</app-btn>
    </form>
  </div>
</div>
