<section class="add-update"
         style="
            background: url('assets/img/bg-myProfile.jpeg') no-repeat;
            padding-top: 90px;
            width: 100%;
            background-size: cover;"
>
  <div class="container">
    <h1 class="add-update__title">Укажите данные</h1>
    <form class="example-form">
      <mat-form-field class="input-box" appearance="fill">
        <mat-label>Name</mat-label>
        <input
            matInput
            name="name"
            required
        >
      </mat-form-field>
      <mat-form-field class="input-box" appearance="fill">
        <mat-label>Surname</mat-label>
        <input
            matInput
            name="surname"
            required
        >
      </mat-form-field>



      <mat-form-field class="input-box" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          required
        >
      </mat-form-field>


      <mat-form-field class="input-box" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          required
        >
      </mat-form-field>

      <mat-form-field class="input-box" appearance="fill">
        <mat-label>Speciality</mat-label>
        <input
             matInput
             name="speciality"
             required
        >
      </mat-form-field>
      <mat-form-field class="input-box" appearance="fill">
        <mat-label>Department</mat-label>
        <input
          matInput
          name="department"
          required
        >

      </mat-form-field>

      <mat-form-field class="input-box" appearance="fill">
        <mat-label>About</mat-label>
        <textarea
          matInput
          name="about"
          required
        ></textarea>
      </mat-form-field>

        <input
          type="hidden"
          name="id"
          required
        >

      <button
        mat-button
        color="primary"
        class="btn-form"
      >
        Update doctor
      </button>
      <button
        mat-button
        color="primary"
        class="btn-form"
      >
        Add doctor
      </button>
    </form>
  </div>
</section>


