.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin: 20px 40px;
  background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  color: #ffffff;
  border-color: transparent;

  padding: 8px 12px 6px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;

  &:hover {
    animation: bounce 1s;
  }

}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

